.carto-card {
  border: 2px #ccc solid;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 350px;
  background-color: white;
  font-family: Roboto, Helvetica, Arial, "sans-serif";
}
.carto-card-header {
  color: #2c2c2c;
  font-weight: 400;
  font-size: 24px;
}

.categories {
  list-style-type: none;
  padding: 0;
}

.category {
  margin-bottom: 10px;
}

.category label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.category-bar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
}

.category-progress {
  height: 10px;
  background-color: teal;
  border-radius: 5px;
}
