.carto-card {
  border: 2px #ccc solid;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 350px;
  background-color: white;
  font-family: Roboto, Helvetica, Arial, "sans-serif";
}
.carto-card-header {
  color: #2c2c2c;
  font-weight: 400;
  font-size: 24px;
}

.categories {
  list-style-type: none;
  padding: 0;
}

.category {
  margin-bottom: 10px;
  cursor: pointer;
}

.category label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.category-bar {
  width: 100%;
  height: 4px;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/* .category-bar:hover {
  background-color: #fafafa;
} */

.category-progress {
  width: 0%;
  height: 4px;
  background-color: #3ab5f0;
  border-radius: 5px;
}

.category-progress:hover {
  background-color: blue;
}

.category-progress--selected {
  background-color: blue;
}
