.carto-layers-list ul {
  list-style-type: none;
  padding: 0;
}

.carto-layers-list li {
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.carto-layers-list input {
  margin-right: 10px;
}
